html { height: 100% }
body { 
    padding: 0px;
    width: 960px;
    margin: 20px auto;
    font-family: helvetica, arial, sans-serif;
}
form  {
    padding: 30px 0;
    margin: 0;
    display: inline-block;
    width: 460px;
}
form input  {
    padding: 5px;
    font-size: 24px;
    width: 350px;
}
form {
    position: relative;
}
ul.results {
    z-index: 300;
    background-color: #FFF;
    position: absolute;
    margin: 0;
    padding: 6px;
    width: 350px;
}
ul.results li {
    list-style-type: none;
    margin: 2px;
    padding: 3px 6px;
    border-bottom: 1px solid #CCC;
    font-size: 11px;
    cursor: pointer;
    color: #999;
}
ul.results li:hover {
    background-color: #eee;
    color: #000;
}
#timetable table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
}

#timetable table td{
    padding: 1px 5px;
    border-bottom: 1px solid #ddd;
}

#map_canvas { 
    width: 960px;
    height: 480px;
}
