<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="{{ static_url("css/style.css") }}">

    <script type="text/html" id="stopItem">
      <li>
        ${name}
      </li>
    </script>
    <script type="text/html" id="lineItem">
      <tr>
        <td>${time}</td>
        <td>${time.ts2rel()}</td>
        <td>${type} ${name}</td>
        <td>${towards}</td>
      </tr>
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <script type="text/javascript" src="{{ static_url("js/jquery.jsonp.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.tmpl.js") }}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript" src="{{ static_url("js/site.js") }}"></script>
  </head>
  <body>
    <div id="search">
      <form id="form_from">
        <input type="text" class="from" id="search_from">
      </form>
      <form id="form_to">
        <input type="text" class="to" id="search_to">
      </form>
    </div>
    <div id="map_canvas" style="z-index: 10;"></div>
    <div id="timetable">
    </div>
  </body>
</html>
